<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open AI Presentation</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script type="text/javascript" src="./javascript/script.js"></script>

</head>
<body>

    <header class="container-fluid height-120 d-flex justify-content-around align-items-center bg-lg-grey text-dark text-center py-3">
        <div>Présentation Open AI</div>
        <img src="../images/openai.png" class="img-logo" alt="logo openai">
        <div>08/12/2022</div>
    </header>

    <!-- content -->
    {% block contenu %}
    {% endblock %}
    <!-- end content -->

    <!-- footer -->
    <footer class="container-fluid height-80 d-flex justify-content-around align-items-center bg-dark text-white text-center py-3">
        <div>3WA Formation</div>
        <div>open AI@2022</div>
        <div>Arthur LAFARGE</div>
    </footer>
    <!--end footer -->

    <!-- script -->


    <!-- end script -->

</body>
</html>