@font-face {
	font-family: "showcard-gothic";
	src: url('SHOWG.TTF');
}

@font-face {
	font-family: "yu-gothic-light";
    font-weight: lighter;
	src: url('yugothil.ttf');
}


/* color and bg */

.bg-lg-grey {
    background-color: #dee2e6;
}

/* font */

p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    color: #4E4E4E;
}

p {
    font-size: 1.3125rem;
}

h1 {
    font-family: "showcard-gothic",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
}

h2 {
    font-family: "yu-gothic-light",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
}

/* image */

.img-logo {
    max-width: 65px;
    max-height: 65px;
}

/*footer*/

footer {
    bottom: 0;
}
.height-80 {
    height: 80px;
}