@font-face {
	font-family: "showcard-gothic";
	src: url('SHOWG.TTF');
}

@font-face {
	font-family: "yu-gothic-light";
    font-weight: lighter;
	src: url('yugothil.ttf');
}


/* color and bg */

.bg-lg-grey {
    background-color: #dee2e6;
}

/* font */

p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    color: #4E4E4E;
}

p {
    font-size: 1.3125rem;
}

h1 {
    font-family: "showcard-gothic",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
}

h2 {
    font-family: "yu-gothic-light",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
}

/* image */

.img-logo {
    max-width: 65px;
    max-height: 65px;
}
.img-pres-method {
    width: 600px;
}

/* nav de la presentation */
.section-presentation{overflow: hidden; width: 100%!important; height: auto!important;}
.container-presentation{float: left; width: 1600px;max-width:1600px!important;height: 100%!important;}
.container-presentation > img {width: 900px; height: 650px; border-radius: 50px; padding: 10px; margin-left: 70px;}
.slidePortfolio{width: 100%;height: 100%;transition: 0.7s all ease;}
.content-presentation {position: absolute; top: 250px; background: #fff; border-radius: 50px; margin-left: 20px; width: 300px; height: 250px; padding: 30px 30px 0 30px;}
.content-presentation > div {width: 100%; display: flex; justify-content: center; margin: 0 auto; padding-bottom: 0;}
.navigation{z-index: 2; user-select: none; width: 160px; display: flex; justify-content: space-around;}
.nav-prev{background: url('../images/previous.png') no-repeat 2px -2px ; background-size: 100% 100%; width: 40px; height: 40px; display: inline-block; cursor: pointer;}
.nav-next{background: url('../images/next.png') no-repeat -2px -2px; background-size: 100% 100%; width: 40px; height: 40px; display: inline-block; margin-left: 10px;  cursor: pointer;}



/* formulaire */
#image-form{width: 400px;}
input, select{border-radius: 10px;padding: 5px 15px 5px 15px;border:1px solid black; border-radius:10px}

/*footer*/

footer {
    bottom: 0;
}
.height-80 {
    height: 80px;
}